<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" >
    <meta name="format-detection" content="telephone=no" >
    <meta name="HandheldFriendly" content="true" >
    <meta name="viewport" content="width = device-width,initial-scale = 1,minimum-scale = 1,maximum-scale = 1,  user-scalable=no" >
    <title>{% block title %}MMOCIP{% endblock %}</title>
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/app.min.css">
    {% block stylesheets %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">MMOCIP 01</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% include 'fr/include/menu.html.twig' %}
        </ul>
    </div>
</nav>
<main class="container" >
    {% block body %}{% endblock %}
</main>

<script type="text/javascript" src="/js/vendor.min.js"></script>
<script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>