{% extends "fr/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Accueil</h1>
    <p>Présentation du projet ...</p>






{% endblock %}