{% extends "fr/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
   <h1>Liste des utilisateurs</h1>
    <ul>
        {% for user in users %}
            <li><a href="#">{{ user.pseudo }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
