{% extends "fr-fr/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{% trans %}Liste des débats{% endtrans %}</h1>
    <ul>
        {% for debat in debats %}
            <li><a href="{{  getPathOf('debat',{"lang":'fr-fr',"id":debat.id,"name":debats[0].title|toPath }) }}">{{ debat.title }}</a></li>
        {% endfor %}
    </ul>





{% endblock %}