{% extends "fr_FR/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Liste des débats</h1>
    <ul>
        {% for debat in debats %}
            <li><a href="{{  get_path_of('debat',{"lang":'fr',"id":debat.id,"name":debats[0].title|toPath }) }}">{{ debat.title }}</a></li>
        {% endfor %}
    </ul>





{% endblock %}