{% extends "fr_FR/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{% trans %}Accueil{% endtrans %}</h1>
    <p>{% end %}Présentation du projet ...{% endtrans %}</p>






{% endblock %}