{% extends "fr_FR/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{% trans %}Accueil{% endtrans %}</h1>
    <p>{% trans %}Présentation du projet ...{% endtrans %}</p>
    <p>{% trans %}Bonjour, comment ca va ?{% endtrans %}</p>





{% endblock %}