{% extends "fr-fr/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{% trans %}Accueil{% endtrans %}</h1>
    <p>{% trans %}Présentation du projet ...{% endtrans %} [PAGE FOR US VERSION ONLY]</p>

    <p>{{  getPathOf('UserSelect',{'extension':'json' },'get') }}</p>

    <p>{{  getPathOf('User',{'name':'clement','id':'8' },'get') }}</p>




{% endblock %}